{% extends "layout.njk" %}

{% block content %}
<main class="container region flow">
  
  <form action="/new" method="POST">
    <div class="message">
    <label for="message">message:</label>
    <textarea id="message" name="message" required></textarea>
  </div>
    <label for="author_id">author_id:</label>
    <textarea id="author_id" name="author_id" required></textarea>
    
    <button type="submit"> post new</button>
  </form>
  
</main>

<style>

body {
   height: 100%;
   overflow-y: hidden;
}

</style>

{% endblock %}